/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  background-color: #1c263d;
  color: #afc0da;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
.app {
  flex: 1;
  padding: 16px;
}
.made-by {
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: block;
  padding-bottom: 16px;
}